#front-container {
	position: fixed;
	z-index: 20;
	a {
		color: $black;
	}
	header {
		width: 100%;
		background-color: yellow;
		position: fixed;
	}
	footer {
		width: 100%;
		background-color: yellow;
		position: fixed;
		bottom: 0;
	}
	ul {
		li {
			@include inline-block;
			margin-right: 20px;
		}
	}
}